.mapsSection {
    position: relative;
    flex-grow: 1;

   .addressSearchContainer {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.4;

        &:hover {
          opacity: 1;
          transition: opacity .5s ease-in-out
        }
     
   }

}