.wrapper {
  margin-top: 50px;

  .form {
 

    .orderDetailsBlocks{
      display:flex;
      justify-content: space-between;
      justify-content: center;
  

      .deliveryBlock {
        min-width: 320px;    
      }


  
    }

    .controlsBlock {
      display: flex;
      justify-content: right;
      margin-top: 15px;
      border-top: 1px solid gray;

    }
    
  }

  
  
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.title {
  margin-bottom: 30px;
}

.errorMessage {
  color: red;
}
