@import '../../styles/scss/variables.scss';

.wrapper {
  margin-top: 50px;
  border-top: 2px solid $backgroundColorLightGray;
  padding-top: 20px;

  .form {
 

    .orderDetailsBlocks{
      display:flex;
      justify-content: space-between;
      justify-content: center;
    }

    .controlsBlock {
      display: flex;
      justify-content: right;
      margin: 20px 0;
      border-top: 2px solid $backgroundColorLightGray;

      .totalPrice {
        margin-top: 20px; 
        
        & div {
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        
        & span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    
  }  
  
}




