.wrapper {
  position: relative;
  z-index: -1;

  .productsList {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 16px;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px;
           
      &:hover {
        border-radius: 7px;
        box-shadow: 0px 0px 30px 4px #EDEDF0;
      }

      &_title {
        margin-top: 10px;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
      }

      &_price {
        margin: 8px 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;       

      }

      &_description {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
      }

      img {
        width: 180px;
        height: auto;  
        
      }

      .controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
  }

  .chatIcon {
    position: fixed;
    bottom: 30px;
    right: 40px;
    background-image: url('../../assets/img/chat-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;

  }
   
}

