@import '../../styles/scss/variables.scss';

.footerSection {
  position: relative;
  padding: 60px 0 0 0;
  background-color: $primaryColor;


  .container {
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #505050;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      flex-wrap: wrap;

      .logo {
        

        .logoStyle {
          font-size: 36px;
        }
      }

      .social {
        width: 250px;

        & ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        
      .links {
        &:hover {
          transform: translate(2px, 2px);
          border-radius: 50%;
          color: green;
          box-shadow: 0px 0px 20px 7px green;
          transition: ease-in-out 0.5s;
        }
}
      }     
    }    
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }
}


